/* Mobile first Responsive Web Design */
* {
  background-color: rgb(55, 72, 90);
  box-sizing: border-box;
}
.display-shows {
  display: block;
}
.display-episodes {
  display: none;
}

/* logo, select options and search bar */
.header,
.episodes-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header, .episodes-header {
  background-color: rgb(0, 5, 8);
  width: 100%;
  height: 10vh;
  margin-bottom: 5rem;
}
.episodes-header {
  margin-bottom: -20px;
}
.logo {
  height: 64px;
  width: 120px;
  float: left;
  margin: 0.8% 1.5% 0 0.25%;
}
.epi-logo {
  height: 110px;
  width: 180px;
  float: left;
  margin: 0.6% 1.5% 0 0.4%;
}
.select-shows,
.select-episodes  {
  margin: 1rem;
  margin-left: 0;
  background: aliceblue;
  font-size: 1.5rem;
  border: none;
  max-width: 60%;
  align-items: center;
}
.select-shows option,
.select-episodes option {
  height: 30px;
  color: aliceblue;
  width: auto;
  font-size: 1rem;
}

/* Search bar settings */
.search-container {
  float: right;
  margin-bottom: 10px;
}
.episode-search-container {
  float: right;
  margin-bottom: 10px;
}

/* Search bar for shows and episodes */
.search-bar,
.episodes-search-bar {
  float: right;
  padding: 6px;
  background: aliceblue;
  font-size: 1rem;
  margin: 0 12px 20px 0;
  border: none;
  height: 35px;
  width: 50%;
}

/* Shows how many search results have been found */
.search-info,
.search-info2,
.episode-search-info,
.episode-search-info2 {
  color: aliceblue;
  display: none;
  text-align: center;
}
.search-info {
  margin-top: 100px;
  padding-top: 1em;
}
.search-info2 {
  margin-bottom: 0.7em;
  padding-top: 0.5em;
  padding-bottom: 0.4em;
}
.episode-search-info {
  margin-top: 1.5em;
}
.episode-search-info2 {
  margin-bottom: -0.5em;
  margin-top: -0.5em;
}

/* Navigation links */
.nav-link {
  padding: 0.7% 0%;
  background-color: aliceblue;
  text-decoration: none;
  text-align: center;
  margin: 12px 0 0 0;
  width: 9.6rem;
  font-size: large;
  color: rgb(0, 5, 8);
  font-weight: 700;
  display: none;
  position: relative;
  border-radius: 5px;
  cursor: pointer;
}
.episodes-link {
  width: 9.3rem;
}
.nav-link:hover {
  background-color: rgb(0, 5, 8);
  color: aliceblue;
}

/* All episodes' names images and summaries */
.root-shows {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
}
.root-episodes {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
}
.expanding-div {
  width: 100%;
  display: block;
  margin-top: 1rem;
}
.episodes-expanding-div {
  width: 100%;
  display: block;
}
.show-name {
  font-family: 'Rye', cursive;
  color: aliceblue;
  display: block;
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: rgb(0, 5, 8);
}
.name,
.episode-name {
  display: block;
  margin: auto;
  text-align: center;
  padding: 5px;
  width: 98%;
  border-radius: 8px;
  background-color: rgb(218, 217, 223);
}
.name {
  cursor: pointer;
  color: aliceblue;
  background-color: rgb(0, 5, 8);
}
.name:hover {
  background-color: aliceblue;
  color:rgb(0, 5, 8);
}
.episode-name {
  color: rgb(0, 5, 8);
}
img {
  display: block;
  margin: auto;
  height: 20rem;
  width: 95%;
}
.summary {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  text-align: justify;
  width: 95%;
  color:  rgb(255, 255, 255);
  
}
.more-text {
  display: none;
} 
.read-more,
.read-less {
  padding: 5px 10px;
  border: none;
  outline: none;
  cursor: pointer;
  color: rgb(255, 255, 255);
  font-weight: 500;
  background-color:rgb(71, 94, 116);
  font-size: 1rem;
  margin-top: -0.7rem;
}
.read-more:hover,
.read-less:hover {
  background-color: rgb(0, 5, 8);
  color: aliceblue;
}

/* Genres, status, rating and runtime */
h4 {
  display: block;
  font-size: medium;
  color: aliceblue;
  width: 95%;
  justify-content: center;
  margin: auto;
  background-color: rgb(0, 5, 8);
  padding: auto;
  padding-left: 7px;
  height: 1.75rem;
}
.genres {
  padding-top: 6px;
}

/* Footer */
.footer {
  height: 10vh;
  background-color: rgb(0, 5, 8);
}
.data-info {
  display: block;
  text-align: center;
  margin-top: 20px;
  padding-top: 10px;
  color: aliceblue;
  font-size: large;
}

/* For medium screen sizes like iPad/tablets */
@media screen and (min-width: 760px) {
  .header {
    margin-bottom: 0.5em;
  }
  .header,
  .episodes-header {
    flex-direction: row;
  }
  .episodes-header {
    margin-bottom: -1.4em;
  }
  .select-shows {
    margin-top: 0.75em;
    margin-left: 0%;
    width: 30%;
    font: 1.2em sans-serif;
    height: 2.2em;
  }
  .nav-link {
    margin-top: 1em;
    padding: 0.7% 0%;
  }
  .select-episodes {
    height: 1.6em;
    margin-top: 0.85em;
    width: 30%;
    font: 0.8em;
  }
  .search-container {
     background-color:rgb(0, 5, 8);
  }
  .search-episode {
    margin-top: 0.5em;
  }
  .episode-search-container {
    background-color:rgb(0, 5, 8);
  }
  .search-bar {
    margin-top: 0.9rem;
    font-size: 1em;
    width: 100%;
    height: 2.7em;
  }
  .episodes-search-bar {
    height: 2.5em;
    margin-top: 0.5rem;
    width: 100%;
  }
  .search-info,
  .search-info2,
  .episode-search-info,
  .episode-search-info2 {
    color: aliceblue;
    display: none;
    text-align: center;
    width: 100%;
    padding: 00.25rem 0 0 0;
  }
  .search-info {
    margin: -0.5rem 0 -0.2rem 0;
  }
  .episode-search-info {
    margin-top: -1.7rem;
    margin-bottom: 00.3em;
  }
  .episode-search-info2 {
    margin-bottom: 0.5em;
  }
  .nav-link {
    margin: 1.5rem 0.5rem 0 0;
    padding: 1.7% 0%;
  }
  .root-shows .expanding-div,
  .root-episodes .episodes-expanding-div {
    width: 50%;
    margin-top: 15px;
  }
  img {
    width: 90%;
    height: 18rem;
  }
  .summary {
    width: 90%;
  }
  h4 {
    width: 90%;
  }
}

/* Small screen Laptops/Desktops */
@media screen and (min-width: 1025px) {
  .logo {
    margin: 0.3% 0 0 0.25%;
  }
  .root-shows .expanding-div,
  .root-episodes .episodes-expanding-div {
    height: auto;
    width: 33%;
    margin-top: 15px;
  }
  .select-shows,
  .select-episodes {
    width: 25%;
  }
  .name,
  .episode-name {
    width: 99%;
  }
  img {
    width: 95%;
    height: 16rem;
  }
  .summary {
    width: 95%;
  }
  h4 {
    padding-left: 10px;
    width: 95%;
  }
  
}

/* Larger screen Devices - Laptops/Desktops */
@media screen and (min-width: 1340px) {
  .root-shows .expanding-div,
  .root-episodes .episodes-expanding-div {
    width: 24%;
  }
  h4 {
    padding-left: 5px;
  }
  .select-episodes {
    margin-top: 0.95rem;
    font-size: 1.1rem;
    height: 2.5rem;
  }
  .nav-link {
    margin-top: 1rem;
    padding: 0.6% 0%;
    height: 2.5rem;
  }
  .search-bar,
  .episodes-search-bar {
    margin-right: 1.3rem;
    width: 20vw;
  }

}

/* High resolution screens - Laptops/Desktops */
@media screen and (min-width: 1920px) {
  .root-shows .expanding-div,
  .root-episodes .episodes-expanding-div {
    width: 19%;
  }
  .search-bar,
  .episodes-search-bar {
    margin-right: 2rem;
  }
  
}
